@import "@fortawesome/fontawesome-free/css/all.css";

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply min-h-screen w-full; }
  hr   { @apply my-6; }
  h1   { @apply my-3 text-gray-700 text-xl font-bold; }
  h2   { @apply my-3 text-gray-700 text-lg font-bold; }
}

@layer components {
  .box { @apply border-2 border-solid border-white shadow; }

  .inp       { @apply appearance-none border rounded py-1 px-4 text-gray-700 leading-tight; }
  .inp:focus { @apply outline-none shadow-outline; }
  .inp-error { @apply border-red-500; }
  .inp-label { @apply block text-gray-700 text-sm font-bold mb-2; }

  .btn          { @apply block bg-blue-500 text-white font-bold py-1 px-4 rounded; }
  .btn:focus    { @apply outline-none shadow-outline; }
  .btn:hover    { @apply bg-blue-700; }
  .btn:disabled { @apply opacity-50 cursor-not-allowed; }

  .nav       { @apply text-gray-500; }
  .nav:hover { @apply text-blue-300; }
  .nav-icon  { @apply mr-2; }
}

@layer utilities {
  .padded { @apply py-1 px-4; }

  @screen sm { .col-resp { column-count: 1; } }
  @screen md { .col-resp { column-count: 2; } }
  @screen lg { .col-resp { column-count: 3; } }
  @screen xl { .col-resp { column-count: 4; } }
}
