/*! @import */

@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { margin-left: calc(100vw - 100%); }
  body { @apply min-h-screen w-full font-sans antialiased text-gray-900; }
  hr   { @apply my-6; }
  h1   { @apply my-3 text-gray-700 text-xl font-bold; }
  h2   { @apply my-3 text-gray-700 text-lg font-bold; }
  a    { @apply leading-none; }
}

@layer components {
  .padded { @apply py-1 px-4; }
  .box    { @apply border-2 border-solid border-white shadow; }

  .inp       { @apply appearance-none border rounded padded text-gray-700; }
  .inp:focus { @apply outline-none ring; }
  .inp-error { @apply border-red-500; }
  .inp-label { @apply block text-gray-700 text-sm font-bold mb-2; }

  .btn          { @apply block bg-blue-500 text-white padded rounded; }
  .btn:focus    { @apply outline-none ring; }
  .btn:hover    { @apply bg-blue-700; }
  .btn:disabled { @apply opacity-50 cursor-not-allowed; }
}

@layer utilities {
  @screen sm { .col-resp { column-count: 1; } }
  @screen md { .col-resp { column-count: 2; } }
  @screen lg { .col-resp { column-count: 3; } }
  @screen xl { .col-resp { column-count: 4; } }

  .max-w-sm { max-width: theme('screens.sm'); }
  .max-w-md { max-width: theme('screens.md'); }
  .max-w-lg { max-width: theme('screens.lg'); }
  .max-w-xl { max-width: theme('screens.xl'); }
}
